body,html{
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
}

.container{
  width: 75%;
  margin-top: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
}

.container > .first-menu{
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.container > .first-menu > li{
  display: inline-block;
}

.container > .first-menu > li > a{
  padding: 20px;
  transition: 0.5s ease-in-out;
  text-decoration: none;
  margin: 0;
  color: red;
  letter-spacing: 4px;
  font-style: italic;
  display: inline-block;
}

.container > .first-menu > li > a:hover{
  background: black;
  color: #fff;
}

.menu-promo{
  margin-top: 20px;
}

.menu-promo > h1{
  font-size: 2em;
  font-style: italic;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.promo-1{
  margin-top: 20px;
}

.food-images{
  list-style: none;
  padding: 0;
  margin: 0;
}

.image{
  height: 400px;
  width: 100%;
  margin-bottom: 10px;
}

.image > span{
  background: #000;
  position: absolute;
  color: #fff;
  padding: 20px;
  opacity: 0.6;
  letter-spacing: 2px;
  font-style: italic;
  font-weight: bold;
}

.image-1{
  background: url("images/image2.jpg") no-repeat center center;
  background-size: cover;
}

.image-2{
  background: url("images/image1.jpg") no-repeat center center;
  background-size: cover;
}

.image-3{
  background: url("images/image3.jpg") no-repeat center center;
  background-size: cover;
}

.image-4{
  background: url("images/image4.jpg") no-repeat center center;
  background-size: cover;
}

.exit-intro{
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  text-align: center;
}

.contact-us{
  margin-top: 10px;
  width: 100%;
  height: 100vh;
  padding: 0;
  background: url("images/contact.jpg") no-repeat center center;
  -webkit-background-size: cover;
  position: absolute;
}


.contact-us > .reach-out{
  text-align: center;
  color: #fff;
  position: relative;
  background: #000;
  opacity: 0.9;
  top: 10%;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  padding: 20px;
  height: 40%;
}


.reach-out > ul{
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
  text-align: center;
  position: relative;
  width: 200px;
  left: 50%;
  transform: translateX(-100%);
}

.reach-out > ul >li{
  display: block;
  padding: 20px;
}

.list-2 > li> a{
  color: #fff;
}

#contact > #to-top{
  position: absolute;
  bottom: 0;
  right: 20px;
  background: #000;
  opacity: 0.5;
  padding: 20px;
  text-align: center;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 2em;
  color: #fff;
  transition: 0.5s ease;
}

#contact > #to-top:hover{
  background-color: #fff;
  opacity: 1;
  color: #000;
}
